<ion-header>
  <ion-toolbar>
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Infinite Scroll</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detail">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Virtual Scroll</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news-feed" (click)="getNewsFeed()">
      <ion-icon name="business"></ion-icon>
      <ion-label>News Feed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>