<ion-header>
  <ion-toolbar>
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="home">
  <ion-card *ngFor="let person of people">
    <ion-card-content>
      <ion-card-title>
        {{person.first_name}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>